<!DOCTYPE html>
<html lang="en">
<head>
    <title>ejs template</title>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div>
        <p>Welcome to templating using EJS</p>
        <p>
            <div>
                <span>Passed name is: <%= name %></span>
            </div>
            <div>Serving time: <%= time %></div>
        </p>
    </div>
</main>

<footer>
    <div>not ejs footer</div>
</footer>

</body>
</html>